#newGroup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.fa.fa-users
            |  New Group
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          form
            .form-group
              label.col-form-label(for='groupName') Group name
              input#groupName.form-control(type='text')
            .form-group
              label.col-form-label(for='') Find Users
              //- select#group.selectpicker.form-control(multiple='multiple', data-live-search='true', title='Find Users ', data-selected-text-format='count > 8')
              //-     option#option
              .dropdown
                input#myInput.findFriend(name='find' type='text', placeholder='Search..')
                #myDropdown.dropdown-content.showFriend
            .form-group
              .avatar-group
                a(href='#')
                    figure.avatar
                      span.avatar-title.bg-primary.rounded-circle -
                //- figure.avatar
                //-   img.rounded-circle(src='dist/images/avatar/defaultAvatar.png')
                //- figure.avatar
                //-   span.avatar-title.bg-danger.rounded-circle S
                //- figure.avatar
                //-   img.rounded-circle(src='dist/images/man_avatar2.jpg')
                //- figure.avatar
                //-   span.avatar-title.bg-info.rounded-circle C
                
            .form-group
              label.col-form-label(for='description') Description
              textarea#description.form-control
        .modal-footer
          button.createGroup.btn.btn-primary(type='button') Create Group
