extends ../../layouts/sign

block content
  h5 Create account

  form#register(method="POST")
    .form-group.input-group-lg
      input.form-control(type='text' name="fullName" placeholder='Full Name' required='' autofocus='')
    .form-group.input-group-lg
      input.form-control(type='email' name='email' placeholder='Email' required='')
    .form-group.input-group-lg
      input.form-control(type='password' name='password' placeholder='Password' required='')
      
    button.btn.btn-primary.btn-lg.btn-block.register Register
    hr
    p.text-muted Already have an account?
    a.btn.btn-outline-light.btn-sm(href='/login') Sign in!
