extends ../../layouts/sign

block content
  div#register-info
    h5 Register with phone number
    form#register-phone
      .form-group.input-group-lg
        input.form-control(type='text' name='fullName' placeholder='Full Name' required='' autofocus='')
      .form-group.input-group-lg
      .form-group.input-group-lg
        input.form-control(type='text' name='phoneNumber' placeholder='Phone Number' required='' autofocus='')
      .form-group.input-group-lg
      button.btn.btn-primary.btn-lg.btn-block Register
      hr
      #recaptcha-container
  div#register-confirm(style="display:none;")
    h5 Verify Confirm
    form#register-phone-code
      .form-group.input-group-lg
        input.form-control(type='text' name='code' placeholder='Verify Code' required='' autofocus='')
      .form-group.input-group-lg
      button.btn.btn-primary.btn-lg.btn-block Confirm
      hr
     
  p.text-muted Don&apos;t have an account?
  a.btn.btn-outline-light.btn-sm(href='/register') Register now!
