head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Soho - Chat and Discussion Platform
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity= 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin= 'anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css')
  //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/css/select2.min.css')
  link(rel='icon' href='dist/images/favicon.png' type='image/png')
  link(rel='stylesheet' href='dist/css/soho.min.css')
  link(rel='stylesheet' href='dist/css/style.css')
body
  // disconnected modal
  include ../components/modals/disconnected-modal

  // call modal
  include ../components/modals/call-modal

  // add friends modal
  include ../components/modals/add-friends-modal

  // new group modal
  include ../components/modals/new-group-modal

  // setting modal
  include ../components/modals/setting-modal

  // edit profile modal
  include ../components/modals/edit-profile-modal
  // layout
  .layout
    // navigation
    include ../components/navigation

    // content
    .content
      block content

  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='vendors/jquery/jquery.nicescroll.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js')
  script(src='https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js')
  script(src='https://www.gstatic.com/firebasejs/6.6.0/firebase-auth.js')
  script(src='https://www.gstatic.com/firebasejs/6.6.0/firebase-firestore.js')
  script(src='https://www.gstatic.com/firebasejs/7.4.0/firebase-messaging.js')
  script(src='https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js')  
  script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/js/select2.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js") 
  script.
    const firebaseConfig = {
      apiKey: "AIzaSyBoCMALABk8Jm-VUe19gHo7SjsPD0aNYGQ",
      authDomain: "messengerapp-e105d.firebaseapp.com",
      databaseURL: "https://messengerapp-e105d.firebaseio.com",
      projectId: "messengerapp-e105d",
      storageBucket: "",
      messagingSenderId: "734259041562",
      appId: "1:734259041562:web:73af153f3e5648f7bac8a3"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging = firebase.messaging();
    messaging.usePublicVapidKey("BL_e3cfq5CKUqFCrctswxaMhNdircDKPIvYPmdS7Kxhm801eGc90SWBYKOk3kPP6vPd6oyeHiEdn1hF02l27Kow ");
    Notification.requestPermission().then((permission) => {
      if (permission === 'granted') {
        console.log('Notification permission granted.');
       messaging.getToken().then((currentToken) => {
        if (currentToken) {
          console.log('--------->',currentToken);
            //- sendTokenToServer(currentToken);
            //- updateUIForPushEnabled(currentToken);
        } else {
          // Show permission request.
          console.log('No Instance ID token available. Request permission to generate one.');
          // Show permission UI.
        }}).catch((err) => {
          console.log('An error occurred while retrieving token. ', err);
        });
      } else {
        console.log('Unable to get permission to notify.');
      }
    });
    messaging.onMessage((payload) => {
      console.log('Message received. ', payload);
    });

  script(src='dist/js/soho.min.js')
  script(src='dist/js/examples.js')
  script(src='dist/js/actionApp.js')
  script(src='dist/js/messenger.js')
  #ascrail2000.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 530.797px; left: 1354px; height: 72px; display: none; opacity: 0;')
    .nicescroll-cursors(style='position: relative; top: 0px; float: right; width: 4px; height: 72px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2000-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: 598.797px; left: 1076px; position: absolute; cursor: default; display: none; width: 282px; opacity: 0;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 188px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px; left: 0px;')
  #ascrail2001.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 136px; left: 1378px; height: 481px; opacity: 0; display: block;')
    .nicescroll-cursors(style='position: relative; top: 195px; float: right; width: 4px; height: 286px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2001-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: 613px; left: 460px; position: absolute; cursor: default; opacity: 0; display: none; width: 918px;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 922px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px; left: 0px;')
  #ascrail2002.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 185px; left: 426px; height: 543px; opacity: 0; display: none;')
    .nicescroll-cursors(style='position: relative; top: 0px; float: right; width: 4px; height: 20px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2002-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: 724px; left: 100px; position: absolute; cursor: default; opacity: 0; display: none;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 0px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px; left: 0px;')
  #ascrail2003.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 0px; left: -4px; height: 0px; display: none;')
    .nicescroll-cursors(style='position: relative; top: 0px; float: right; width: 4px; height: 0px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2003-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: -4px; left: 0px; position: absolute; cursor: default; display: none;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 0px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2004.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 0px; left: -4px; height: 0px; display: none;')
    .nicescroll-cursors(style='position: relative; top: 0px; float: right; width: 4px; height: 0px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2004-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: -4px; left: 0px; position: absolute; cursor: default; display: none;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 0px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2005.nicescroll-rails.nicescroll-rails-vr(style='width: 4px; z-index: auto; cursor: default; position: absolute; top: 110px; left: 1378px; height: 618px; display: none; opacity: 0;')
    .nicescroll-cursors(style='position: relative; top: 0px; float: right; width: 4px; height: 402px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px;')
  #ascrail2005-hr.nicescroll-rails.nicescroll-rails-hr(style='height: 4px; z-index: auto; top: 724px; left: 1052px; position: absolute; cursor: default; display: none; width: 326px; opacity: 0;')
    .nicescroll-cursors(style='position: absolute; top: 0px; height: 4px; width: 330px; background-color: rgba(66, 66, 66, 0.2); border: 0px; background-clip: padding-box; border-radius: 5px; left: 0px;')
