#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group')
                a.btn.btn-light(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          .sidebar-body(tabindex='3' style='overflow: hidden; outline: none;')
            ul.list-group.list-group-flush
              //- li.list-group-item.open-chat
              //-   div
              //-     figure.avatar
              //-       img.rounded-circle(src='dist/images/man_avatar3.jpg')
              //-   .users-list-body
              //-     h5 Karl Hubane
              //-     p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
              //-     .users-list-action.action-toggle
              //-       .dropdown
              //-         a(data-toggle='dropdown' href='#')
              //-           i.ti-more
              //-         .dropdown-menu.dropdown-menu-right
              //-           a.dropdown-item(href='#') Open
              //-           a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
              //-           a.dropdown-item(href='#') Add to archive
              //-           a.dropdown-item(href='#') Delete
            each sortList in sortLists
              //- a(href="/message/:" + sortList.groupName)
              li.list-group-item(class = sortList.id data-id = sortList.id data-name = sortList.groupName data-userid = user.id data-head = sortLists[0].id data-myid = objectId[0].id )
                figure.avatar.avatar-state-success
                  img.rounded-circle(src='dist/images/avatar/defaultAvatar.png')
                .users-list-body
                  h5=sortList.groupName
                  p=sortList.msgLatestContent
                  .users-list-action
                    .new-message-count 2
                