#list-add-friend.sidebar
      header
        span Friends
        ul.list-inline
          li.list-inline-item
            a.btn.btn-light(href='#' data-toggle='modal' data-target='#addFriends')
              i.ti-plus.btn-icon
              |  Add Friends
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search invited')
        .sidebar-body(tabindex='4' style='overflow: hidden; outline: none;')
        ul.list-group.list-group-flush
        each friend in friends
          li.list-group-item(data-id=friend.userId)
            div
              figure.avatar
                img.rounded-circle(src='dist/images/women_avatar5.jpg')
            .users-list-body
              h5(href='#' data-navigation-target='contact-information')=friend.fullName
              p=friend.message 
              .container
                .row
                  button.btn.btn-primary.accept Accept
                  button.btn.btn-secondary.deny(style='margin-left:10px') Deny